build
.cache
.vscode

to_line.py
main.cpp

test
main
test_nfloats
test_nints
test_unints
test.exe
main.exe
test_nfloats.exe
test_nints.exe
test_unints.exe

fraction
complex
integer
log
print_tuple
ndarray
fraction.exe
complex.exe
integer.exe
log.exe
print_tuple.exe
ndarray.exe